.what_can_i_repair_container {
	padding: 24px 32px;
}

.what_can_i_repair_container > h2 {
	text-align: center;
	margin-bottom: 32px;
}

.icons_container,
.home_icon {
	display: flex;
	flex-wrap: wrap;
	flex: 1 2 auto;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.home_icon {
	flex: 0 1 auto;
	gap: 0;
	width: 100px;
}

.home_icon > img {
	width: 64px;
	height: auto;
}

.home_icon > p {
	text-align: center;
	margin: 12px 0;
}
