/*

:root {
  --color-main: #2c2c2c;
  --color-secondary: #e8e8e8;
  --color-logo-1: #2c2c38;
  --color-logo-2: #00DBA3;
  --color-option-1: #20A4F3;
  --color-option-2: #DC6ACF;
  --color-option-3: #90D7FF;
  --color-white: #fafafa;
  --color-black: #212121;
}

*/

.slider_container {
  position: relative;
  width: 100%;
  height: calc(100vh - 74px);
  min-height: 600px;
  max-height: 750px;
  position: relative;
  background-image: url('../../assets/images/wallpapers/image1.webp');
  background-position: center;
  background-size: cover;
}

.second_image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/wallpapers/image3.webp');
  background-position: center;
  background-size: cover;
  opacity: 0;
  z-index: 1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.fade_in {
  animation-name: fade_in;
}

.fade_out {
  animation-name: fade_out;
}

.text_description {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.69) 71.88%, rgba(0, 0, 0, 0.69) 100%);
  color: var(--color-secondary);
  padding: 0 2.05rem;
  text-align: center;
  z-index: 2;
}

.text_description  > h1 {
  font-size: 1.5em;
}

@keyframes fade_in {
  to {
    opacity: 1;
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}