.confirm_booking_container {
  padding: 24px;
}

.confirm_booking_container > h2 {
  margin-bottom: 24px;
}

.confirm_booking_container > h4 {
  margin-left: 10px;
  margin-bottom: 24px;
}

.ul {
  list-style: disc;
}

.ul > li {
  font-size: 14px;
  margin: 0 0 10px 40px;
}

.total {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.total_container {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0px;
  z-index: 1;
  background: var(--color-white);
  padding-bottom: 10px;
}

.total_container::before {
  content: '';
  display: block;
  width: 100%;
  height: 3rem;
  bottom: 100%;
  left: 0;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0) 0,
    var(--color-white)
  );
}

.total {
  margin-top: 20px;
}

.repair_option_container label {
  display: flex;
  align-items: center;
}

.repair_option_container input[type='checkbox'] {
  margin-right: 10px;
  cursor: pointer;
}

.repair_option_container span {
  text-align: right;
  align-items: center;
  display: flex;
  min-width: fit-content;
}

.form_confirm_booking,
.form_confirm_booking label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.form_confirm_booking {
  padding: 24px 10px;
}

.section_container h4 {
  margin-bottom: 24px;
}

.form_confirm_booking input {
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
}

.submit_button {
  width: 100%;
  border: 1px solid var(--color-black);
  background: var(--color-logo-2);
  color: var(--color-logo-1);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: medium;
  text-align: center;
}

.warning {
  color: tomato;
  font-size: small;
  padding: 0 10px;
}
