.what_can_i_repair_container {
  padding: 24px 32px;
  /* padding-top: 0; */
  /* background-color: var(--color-main-opacity30); */
  > h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.icons_container,
.home_icon {
  display: flex;
  flex-wrap: wrap;
  flex: 1 2 auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.home_icon {
  flex: 0 1 auto;
  gap: 0;
  width: 100px;
  > img {
    width: 64px;
  }
  > p {
    text-align: center;
    margin: 12px 0;
  }
}