.ready_container {
  background-color: var(--color-logo-2);
  padding: 12px 24px;
  margin: 24px;
  > h1 {
    margin: 12px 0 24px;
    color: var(--color-main);
    text-align: center;
  }

  > p {
    color: var(--color-main);
  }
}

.btn_container {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}