.select_device_container {
  padding: 0 1.5rem 2rem;
}

.select_device_container > h1 {
  text-align: center;
  margin: 1em 0 2em;
}

.devices_container {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: center;
  gap: 3rem 1rem;
}
