.device_repair_container {
  padding: 24px;
}

.form_budget h4 {
  margin-bottom: 20px;
}

.repair_option_container, .total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.total {
  margin-top: 20px;
}

.repair_option_container input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.submit_button {
  width: 100%;
  border: 1px solid black;
  border-radius: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: medium;
}
